<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="d-inline">Nguồn gốc sản phẩm</h5>
                        </div>
                    </div>
                </div>
                <div class="search-box" style="margin: 10px;">
                    <div class="card-body">
                        <div id="collapseSearch">
                            <!-- BEGIN Form Filter product-origin -->
                            <form>
                                <div class="col-md-12 form-inline float-left">
                                    <div class="col-md-4 no-padding">
                                        <div class="form-group">
                                            <div class="col-md-3 no-padding">
                                                <label class="col-form-label float-left">
                                                    Tên tiếng Việt
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <ng-select [items]="productOriginModel" [virtualScroll]="true"
                                                    name="title" (change)="onGetAll()" bindLabel="title"
                                                    bindValue="title" [(ngModel)]="productOriginListRequest.title"
                                                    placeholder="Tên tiếng Việt...">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-padding">
                                        <div class="form-group">
                                            <div class="col-md-3 no-padding">
                                                <label class="col-form-label float-left">
                                                    Tên tiếng Anh
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <ng-select [items]="productOriginModel" [virtualScroll]="true"
                                                    name="name" (change)="onGetAll()" bindLabel="name" bindValue="name"
                                                    [(ngModel)]="productOriginListRequest.name"
                                                    placeholder="Tên tiếng Anh...">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END Form Filter product-origin -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Table list product-origin -->
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <table class="table table-borded">
                                <thead class="">
                                    <tr class="text-center height-title">
                                        <th class="w10p text-center">Tên tiếng Việt</th>
                                        <th class="w10p text-center">Tên tiếng Anh</th>
                                        <th class="w10p text-center">Mô tả</th>
                                        <th class="w10p text-center">Người tạo</th>
                                        <th class="w10p text-center">Ngày tạo</th>
                                        <th class="w10p text-center"></th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td colspan="5"></td>
                                        <td class="w5p text-center">
                                            <button class="btn btn-success m-r-5"
                                                (click)="onOpenModalAddProductOriginModel()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of productOriginModel| paginate: {
                                        id:'pagingControl',
                                        itemsPerPage: pageSize,
                                        currentPage: pageIndex,
                                        totalItems: totalRow
                                        };let i = index">
                                        <td class="text-center">
                                            <span _ngcontent-c7="" class="badge badge-primary" ngbTooltip="title"
                                                ng-reflect-ngb-tooltip="title">{{item.title}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span _ngcontent-c7="" class="badge badge-secondary" ngbTooltip="name"
                                                ng-reflect-ngb-tooltip="name">{{item.name}}</span>
                                        </td>
                                        <td class="text-center">
                                            {{item.description}}
                                        </td>
                                        <td class="text-center">
                                            {{item.createByString}}
                                        </td>
                                        <td class="text-center">
                                            {{item.createdDateDisPlay}}
                                        </td>
                                        <td class="w5p text-center">
                                            <button class="btn btn-primary btn-sm m-r-5"
                                                (click)="onOpenModalUpdateProductOriginModel(item)">
                                                <i class="fa fa-edit font-btn"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" (click)="onDelete(item)">
                                                <i class="fa fa-trash-o font-btn"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls maxSize="9" responsive="true" autoHide="true"
                                previousLabel="Trang trước" nextLabel="Trang tiếp" id="pagingControl"
                                (pageChange)="pageChanged($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>