.advanced-pie-legend .total-value{
    font-size: 16px !important;
    font-weight: 600 !important;
}
.advanced-pie-legend .total-label {
    font-size: 18px !important;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    font-size: 13px !important;
    margin-top: 0 !important;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
    font-size: 12px !important;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
    font-size: 13px !important;
}